
body {
    background-color: skyblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

img {
    width: 233px;
    height: 218px;
    padding: 40px 5px 0px 15px;
}

/*Navigation*/
.navbar-container {
    background-color: pink; 
    display: flex;
    flex-wrap: nowrap;
    gap: 15px;
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    flex-direction: row;
}

.navbar-container > div > div > a {
    text-decoration: none;
    color: #004080;
}

.home-container {
    display: flex;
    flex: 50%;
    justify-content: flex-start;
    gap: 20px;
}

.log-container {
    display: flex;
    flex: 50%;
    justify-content: flex-end;
    gap: 20px;
}

.category-name {
    text-transform: uppercase;
}



/**MainBody*/
.main {
    background-color: pink;
    padding: 50px 7px 50px 7px;
}

p {
    font-size: large;
}

#givenAnswer {
    height: 30px;
}



/*FOOTER*/
.footer {
    background-color: orange;
    margin-top: auto;
}