
body {
    background-color: skyblue;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

img {
    width: 233px;
    height: 218px;
    padding: 15px 5px 0px 15px;
}

.category-name {
    text-transform: uppercase;
}



/**MainBody*/
.main {
    background-color: pink;
    padding: 100px 7px 100px 7px;
}



/*FOOTER*/
.footer {
    background-color: orange;
    margin-top: auto;
}